
@{
    Layout = "~/Views/_Layout.cshtml";
}

<h1>Form parameters parsing demo</h1>
<ul>
    <li>@Html.ActionLink("ModelBuildingInParameters", "ModelBuildingInParameters")</li>
    <li>@Html.ActionLink("ModelBuildingInSeparateModel", "ModelBuildingInSeparateModel")</li>
    <li>@Html.ActionLink("Manual", "Manual")</li>
    <li>@Html.ActionLink("ManualWithSeparateHandlers", "ManualWithSeparateHandlers")</li>
</ul>
