
@{
    ViewData["Title"] = "CheckBox";
}

<h2>Check Box</h2>

<form method="post">
    <input type="checkbox" name="isSelected" value="true"/><label> isSelected</label><br />
    <input type="submit" value="submit" />
</form>